body{
    font-family: 'Roboto Mono', monospace !important;
    color: #000000;
    margin: 0;
    padding: 0;
    background: rgb(56,56,56);
    background: linear-gradient(45deg, #49a09d, #5f2c82);
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

i{
    font-size: medium;
}

thead th{
    background-color: #55608f;
}

input{
    margin: 5px !important;
}

th, td{
    padding: 5px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    vertical-align: middle !important;
    text-align: left;
}

button{
    padding: 0 !important;
    margin-left: 18px !important;
}

i{
    padding: 2px;
    margin: 2px;
}

h1{
    text-align: center;
    align: center;
}

#Ball{
    animation: ball 1s infinite alternate;
}

#JugglingLeg{
    transform-box: fill-box;
    transform-origin: center;
    animation: moveLeg 1s infinite linear alternate;
}

#Others{
    animation: player 1s infinite alternate;
}

@keyframes player {
    from{
        transform: translateY(-3px);
    }to{
        transform: translateY(5px);
         }
}

@keyframes moveLeg{
    from{
        transform: rotate(2deg) translateX(-10px) translateY(-5px);

    }to{
        transform: rotate(10deg) translateX(-7px);
    }
 }

@keyframes ball{
    from{
        transform: translateY(-50px);
    }to{
         transform: translateY(10px);
    }
}

.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}

.nav-pills .nav-link.active{
    background-color: #5f2c82 !important;
}

.btn{
    padding: 5px !important;
    border-radius: 14.25rem !important;
}

.input-group{
    justify-content: center;
}
