body{
    color: #89852d;
    margin: 0;
    padding: 0;
    background: rgb(56,56,56);
    background: linear-gradient(45deg, #49a09d, #5f2c82);
}

nav a:link, nav a:visited, nav a{
    color: white;
}

nav a:hover{
    color: #89852d;
}

.navbar_div ul{
    padding-top: 5px;
    background-color: rgba(35, 122, 172, 0.85);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
}

.navbar_div ul li a{
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-size: x-large;
    text-decoration: none;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

thead th{
    background-color: #55608f;
}

th, td{
    padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    text-align: left;
}
