<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/stylesheet/basic.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar_div">
        <ul class="navbar">
            <li><a href="/teams">Csapatok</a></li>
            <li><a href="/players">Játékosok</a></li>
            <li><a href="/matches">Meccsek</a></li>
            <li><a href="/stadiums">Stadionok</a></li>
        </ul>
    </nav>
    {% block table %}{% endblock %}
</body>
</html>