{% extends 'base.html' %}

{% block csapatok_link %} class="nav-link active" {% endblock %}
{% block jatekosok_link %} class="nav-link" {% endblock %}
{% block meccsek_link %} class="nav-link" {% endblock %}
{% block stadionok_link %} class="nav-link" {% endblock %}

{% block input %}
    <div class="row" style="padding-top: 30px">
        <div class="mx-auto" style="width: 300px">
            <div class="input-group mb-3">
                <form action="#" method="POST">
                    <input type="text" class="form-control" name="team" id="team_field" placeholder="Team's name">
                    <button type="submit" type="submit" class="btn btn-success" name="add" data-toggle="tooltip" data-placement="bottom" title="Add Record"><i class="far fa-plus-square"></i></button>
                    <button type="submit" class="btn btn-danger" name="remove" data-toggle="tooltip" data-placement="bottom" title="Delete Record"><i style="padding-left: 2px" class="fas fa-minus-circle"></i></button>
                    <button type="submit" class="btn btn-info" name="list" data-toggle="tooltip" data-placement="bottom" title="List Record"><i class="fas fa-list"></i></button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-toggle="tooltip" data-placement="bottom" title="Update Record" data-target="#exampleModal"><i style="padding-left: 2px" class="far fa-edit"></i></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block update_inputs %}
        <label for="teams_name">Team's name</label>
        <input type="text" class="form-control" value="" name="teams_name" id="teams_name" placeholder="Team's name">
        <label for="abbr_field">Abbrevation</label>
        <input type="text" class="form-control" name="abbreviation" id="abbr_field" placeholder="Abbreviation">
        <label for="abbr_field">Badge(URL)</label>
        <input type="url" class="form-control" name="badge" id="badge_field" placeholder="Badge URL">
        <label for="win_field">Wins</label>
        <input type="number" class="form-control" value="0" name="wins" id="win_field" placeholder="Wins">
        <label for="draw_field">Draws</label>
        <input type="number" class="form-control" value="0" name="draws" id="draw_field" placeholder="Draws">
        <label for="loss_field">Loss</label>
        <input type="number" class="form-control" value="0" name="loss" id="loss_field" placeholder="Loss">
        <input type="submit" name="update" value="Update">
{% endblock %}

{% block table %}
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Team's name</th>
                    <th scope="col">abbreviation</th>
                    <th scope="col">Points</th>
                    <th scope="col">Matches_played</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Draw</th>
                    <th scope="col">Loss</th>
                </tr>
            </thead>
            {% for team in teams %}
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary" value="+" style="padding:2px" data-toggle="modal" data-target="#exampleModal" id="team_update_button" data-team={{team["name"]}}><i style="padding-left: 2px" class="far fa-edit"></i></button>
                    </td>
                    <td><img src={{team["badge"]}}></td>
                    <td>{{team["position"]}}</td>
                    <td>{{team["name"]}}</td>
                    <td>{{team["abbreviation"]}}</td>
                    <td>{{team["points"]}}</td>
                    <td>{{team["matches_played"]}}</td>
                    <td>{{team["W"]}}</td>
                    <td>{{team["D"]}}</td>
                    <td>{{team["L"]}}</td>
                </tr>
            {% endfor %}
            <script src="../../static/js/default_values"></script>
        </table>
    </div>
{% endblock %}