{% extends 'base.html' %}

{% block title %} Matches {% endblock %}

{% block table %}
    <div class="sql_table_div">
        <table class="sql_table">
            <thead>
                <tr>
                    <th></th>
                    <th>Team's name</th>
                    <th>abbreviation</th>
                    <th>Points</th>
                    <th>Matches_played</th>
                    <th>Wins</th>
                    <th>Draw</th>
                    <th>Loss</th>
                </tr>
            </thead>
            {% for team in teams %}
                <tr>
                    <td><img src={{team[3]}}></td>
                    <td>{{team[0]}}</td>
                    <td>{{team[1]}}</td>
                    <td>{{team[4]}}</td>
                    <td>{{team[5]}}</td>
                    <td>{{team[6]}}</td>
                    <td>{{team[7]}}</td>
                    <td>{{team[8]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}