{% extends 'base.html' %}

{% block title %} Matches {% endblock %}

{% block csapatok_link %} class="nav-link" {% endblock %}
{% block jatekosok_link %} class="nav-link active" {% endblock %}
{% block meccsek_link %} class="nav-link" {% endblock %}
{% block stadionok_link %} class="nav-link" {% endblock %}

{% block input %}
    <div class="row" style="padding-top: 30px">
        <div class="mx-auto" style="width: 300px">
            <div class="input-group mb-3">
                <form action="#" method="POST">
                    <input type="text" class="form-control" name="team" id="team_players" placeholder="Team's name">
                    <button type="submit" value="+" type="submit" class="btn btn-success" name="add" data-toggle="tooltip" data-placement="bottom" title="Add Record"><i class="far fa-plus-square"></i></button>
                    <button type="submit" value="---" class="btn btn-info" name="list" data-toggle="tooltip" data-placement="bottom" title="List Record"><i class="fas fa-list"></i></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block table %}
    <div class="sql_table_div">
        <table class="sql_table">
            <thead>
                <tr>
                    <th>badge</th>
                    <th>id</th>
                    <th>Team's name</th>
                    <th>Player's name</th>
                    <th>Pitch Position</th>
                    <th>Shirt Number</th>
                </tr>
            </thead>
            {% for player in players %}
                <tr>
                    <td><img src={{player["badge"]}}></td>
                    <td>{{player["id"]}}</td>
                    <td>{{player["club"]}}</td>
                    <td>{{player["name"]}}</td>
                    <td>{{player["position"]}}</td>
                    <td>{{player["number"]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}