{% extends 'base.html' %}

{% block title %}Managers{% endblock %}

{% block csapatok_link %} class="nav-link" {% endblock %}
{% block meccsek_link %} class="nav-link" {% endblock %}
{% block stadionok_link %} class="nav-link" {% endblock %}
{% block training_ground_link %} class="nav-link" {% endblock %}
{% block jatekosok_link %} class="dropdown-item nav-link" {% endblock %}
{% block managers_link %}  class="dropdown-item nav-link active" {% endblock %}
{% block owners_link %} class="dropdown-item nav-link" {% endblock %}
{% block stat_link %} class="nav-link" {% endblock %}



{% block search_label %} Team's name {% endblock %}

{% block update_inputs %}
        <label for="managers_id">Manager id</label>
        <input type="text" class="form-control" value="" name="managers_id" id="managers_id" readonly>
        <label for="update_team_name">Team's name</label>
        <input type="text" class="form-control" value="" name="teams_name" id="update_team_name" placeholder="Team's name">
        <label for="update_nationality">Nationality</label>
        <input type="text" class="form-control" value="" name="nationality" id="update_nationality" placeholder="Nationality">
        <label for="update_name">Owner name</label>
        <input type="text" class="form-control" value="" name="name" id="update_name" placeholder="Name" required>
        <input type="submit" name="update">
{% endblock %}

{% block create_inputs %}
    <label for="create_team_name">Team's name</label>
    <input type="text" class="form-control" value="" name="teams_name" id="create_team_name" placeholder="Team's name">
    <label for="create_nationality">Nationality</label>
    <input type="text" class="form-control" value="" name="nationality" id="create_nationality" placeholder="Nationality">
    <label for="create_name">League season</label>
    <input type="text" class="form-control" value="" name="name" id="create_name" placeholder="Name" required>
    <input type="submit" name="create">
{% endblock %}

{% block table %}
<div class="container-sm">
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Team</th>
                    <th scope="col">Nationality</th>

                </tr>
            </thead>
            {% for manager in managers %}
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary" value="+" style="padding:2px" data-toggle="modal" data-target="#updateModal" id="specific_manager_update"
                        data-id={{manager["id"]}}><i style="padding-left: 2px" class="far fa-edit"></i></button>

                    </td>
                    <td>
                        <button type="button" name="remove_button" class="btn btn-danger" id="remove_record_manager" value="-" style="padding:2px" data-id={{manager["id"]}}><i style="padding-left: 2px" class="fas fa-minus-circle"></i></button>
                    </td>
                    <td><img src={{manager["badge"]}}></td>
                    <td>{{manager["name"]}}</td>
                    <td>{{manager["team"]}}</td>
                    <td>{{manager["nationality"]}}</td>

                </tr>
            {% endfor %}
            <script src="../../static/js/update.js"></script>
        </table>
    </div>
</div>
{% endblock %}
