{% extends 'base.html' %}

{% block title %} Matches {% endblock %}

{% block csapatok_link %} class="nav-link" {% endblock %}
{% block meccsek_link %} class="nav-link active" {% endblock %}
{% block stadionok_link %} class="nav-link" {% endblock %}
{% block training_ground_link %} class="nav-link" {% endblock %}
{% block jatekosok_link %} class="dropdown-item nav-link" {% endblock %}
{% block managers_link %}  class="dropdown-item nav-link" {% endblock %}
{% block owners_link %} class="dropdown-item nav-link" {% endblock %}
{% block stat_link %} class="nav-link" {% endblock %}


{% block search_label %} Team's name {% endblock %}

{% block update_inputs %}
        <label for="match_id">Match name</label>
        <input type="number" class="form-control" value="" name="match_id" id="match_id" readonly>
        <label for="update_team_name">Team's name</label>
        <input type="text" class="form-control" value="" name="teams_name" id="update_team_name" placeholder="Team's name">
        <label for="update_enemy_team">Enemy team's name</label>
        <input type="text" class="form-control" value="" name="enemy_team" id="update_enemy_team" placeholder="Enemy Team" >
        <label for="takes_place_update">Takes place</label>
        <input type="date" class="form-control" value="" name="takes_place" id="takes_place_update" placeholder="yyyy-hh-dd hh:mm:ss">
        <input type="submit" name="update">
{% endblock %}

{% block create_inputs %}
        <label for="update_team_name">Team's name</label>
        <input type="text" class="form-control" value="" name="teams_name" id="create_team_name" placeholder="Team's name">
        <label for="create_enemy_team">Enemy team's name</label>
        <input type="text" class="form-control" value="" name="enemy_team" id="create_enemy_team" placeholder="Enemy Team">
        <label for="takes_place_create">Takes place</label>
        <input type="date" class="form-control" value="" name="takes_place" id="takes_place_create" placeholder="yyyy-hh-dd hh:mm:ss" >
        <input type="submit" name="create">
{% endblock %}


{% block table %}
<div class="container-sm">
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Team's name</th>
                    <th scope="col">Team's Badge</th>
                    <th scope="col">Enemy's name</th>
                    <th scope="col">Enemy's Badge</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            {% for match in matches %}
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary"
                                value="+" style="padding:2px" data-toggle="modal"
                                data-target="#updateModal" id="specific_match_update"
                                data-id={{match["id"]}}><i style="padding-left: 2px" class="far fa-edit"></i></button>
                    </td>
                    <td>
                        <button type="submit" name="remove_button"
                                class="btn btn-danger" value="-" style="padding:2px"
                                id="remove_record_matches" data-id={{match["id"]}}><i style="padding-left: 2px" class="fas fa-minus-circle"></i></button>
                    </td>
                    <td>{{match['team']}}</td>
                    <td><img src={{match['team_badge']}}></td>
                    <td>{{match['enemy_team']}}</td>
                    <td><img src={{match['enemy_team_badge']}}></td>
                    <td>{{match['takes_place']}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
