{% extends 'base.html' %}

{% block csapatok_link %} class="nav-link" {% endblock %}
{% block jatekosok_link %} class="nav-link" {% endblock %}
{% block meccsek_link %} class="nav-link active" {% endblock %}
{% block stadionok_link %} class="nav-link" {% endblock %}

{% block table %}
<div class="container-sm">
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Team's name</th>
                    <th scope="col">Enemy's name</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            {% for match in matches %}
                <tr>
                    <td>{{match['team']}}</td>
                    <td>{{match['enemy_team']}}</td>
                    <td>{{match['takes_place']}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
