{% extends 'base.html' %}

{% block title %} Stadiums {% endblock %}

{% block table %}
    <div class="sql_table_div">
        <table class="sql_table">
            <thead>
                <tr>
                    <th>Team's name</th>
                    <th>Stadium's name</th>
                </tr>
            </thead>
            {% for stadium in stadiums %}
                <tr>
                    <td>{{stadium[0]}}</td>
                    <td>{{stadium[1]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}