{% extends 'base.html' %}

{% block csapatok_link %} class="nav-link" {% endblock %}
{% block jatekosok_link %} class="nav-link" {% endblock %}
{% block meccsek_link %} class="nav-link" {% endblock %}
{% block stadionok_link %} class="nav-link active" {% endblock %}

{% block content %}
    <div class="sql_table_div">
        <table class="sql_table">
            <tr>
                <th>Team's name</th>
                <th>Stadium's name</th>
            </tr>
            {% for stadium in stadiums %}
                <tr>
                    <td>{{stadium[0]}}</td>
                    <td>{{stadium[1]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}