{% extends 'base.html' %}

{% block title %} Statistics {% endblock %}
{% block optional_scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable(
            [       ["Team's name", "appearances"],
                {% for team in teams %}
                    ['{{ team["name"] }}', {{team["team_apperance"]}}],
                {% endfor %}
            ]);
            console.log(data)

            var options = {
              title: 'Scorers by team',
              is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart'));
            chart.draw(data, options);
          }
    </script>
{% endblock %}

{% block csapatok_link %} class="nav-link" {% endblock %}
{% block jatekosok_link %} class="nav-link" {% endblock %}
{% block meccsek_link %} class="nav-link" {% endblock %}
{% block stadionok_link %} class="nav-link" {% endblock %}
{% block scorers_link %} class="nav-link" {% endblock %}
{% block managers_link %}  class="nav-link" {% endblock %}
{% block owners_link %} class="nav-link" {% endblock %}
{% block stat_link %} class="nav-link active" {% endblock %}

{% block table %}
<div class = "text-center" style="width: 700px; height: 700px" id="chart"></div>
<div class="container-sm">
    <div class="table-responsive-sm" id="table_div">
        <h1 class="text-center" style="color: white">Scorers Grouped by Team</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Badge</th>
                    <th scope="col">Team's name</th>
                    <th scope="col">League</th>
                    <th scope="col">All Goals</th>
                    <th scope="col">Amount of Team apperance</th>
                </tr>
            </thead>
            {% for team in teams %}
                <tr>
                    {% if http in badge or https in badge%}
                    <td><img src={{team["badge"]}} ></td>
                    {% else %}
                    <td><img src={{team["badge"]}} ></td>
                    {% endif %}
                    <td>{{team["name"]}}</td>
                    <td>{{team["league"]}}</td>
                    <td>{{team["all_goals"]}}</td>
                    <td>{{team["team_apperance"]}}</td>
                </tr>
            {% endfor %}
        </table>
        <h1 class="text-center" style="color: white">Amount of Players by Team</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Badge</th>
                    <th scope="col">team</th>
                    <th scope="col">nr. of Players</th>
                </tr>
            </thead>
            {% for key, value in position.items() %}
                <tr>
                    <td><img src={{position[key]["badge"]}} </td>
                    <td>{{key}}</td>
                    <td>{{position[key]["pos"]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
