{% extends 'base.html' %}

{% block title %} Stadiums {% endblock %}

{% block csapatok_link %} class="nav-link" {% endblock %}
{% block meccsek_link %} class="nav-link" {% endblock %}
{% block stadionok_link %} class="nav-link" {% endblock %}
{% block training_ground_link %} class="nav-link active" {% endblock %}
{% block jatekosok_link %} class="dropdown-item nav-link" {% endblock %}
{% block managers_link %}  class="dropdown-item nav-link" {% endblock %}
{% block owners_link %} class="dropdown-item nav-link" {% endblock %}
{% block stat_link %} class="nav-link" {% endblock %}


{% block search_label %} Stadium name {% endblock %}

{% block update_inputs %}
        <label for="update_ground">Trainings ground's name</label>
        <input type="text" class="form-control" value="" name="training_ground" id="update_ground" placeholder="Training Ground" readonly>
        <label for="update_team_name">Team's name</label>
        <input type="text" class="form-control" value="" name="teams" id="update_team_name" placeholder="Team's name">
        <label for="update_city">City</label>
        <input type="text" class="form-control" value="" name="city" id="update_city" placeholder="City" >
        <input type="submit" name="update">
{% endblock %}

{% block create_inputs %}
        <label for="create_ground">Trainings ground's name</label>
        <input type="text" class="form-control" value="" name="training_ground" id="create_ground" placeholder="Training Ground" required>
        <label for="create_team_name">Team's name</label>
        <input type="text" class="form-control" value="" name="teams" id="create_team_name" placeholder="Team's name">
        <label for="create_city">City</label>
        <input type="text" class="form-control" value="" name="city" id="create_city" placeholder="City">
        <input type="submit" name="create">
{% endblock %}

{% block table %}
<div class="container-sm">
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Stadium's name</th>
                    <th scope="col">City</th>
                    <th scope="col">Team's name</th>
                </tr>
            </thead>
            {% for ground in grounds %}
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary" value="+" style="padding:2px" data-toggle="modal" data-target="#updateModal" id="specific_ground_update" data-ground-name={{ground["name"].replace(' ', '_')}}><i style="padding-left: 2px" class="far fa-edit"></i></button>
                    </td>
                    <td>
                        <button type="submit" name="remove_button" class="btn btn-danger" value="-" style="padding:2px"  id="remove_record_ground" data-ground-name={{ground["name"].replace(' ', '_')}}><i style="padding-left: 2px" class="fas fa-minus-circle"></i></button>
                    </td>
                    <td><img src={{ground['badge']}}></td>
                    <td>{{ground['name']}}</td>
                    <td>{{ground['city']}}</td>
                    <td>{{ground['team']}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}